@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

body {
  background-color: rgba(0, 0, 0, 0.95);
  margin: 0;
}

.container {
  width: 100vw;
  max-width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-title h1 {
  font-family: "Carter One", cursive;
  color: rgb(251, 176, 37);
  font-size: 3em;
  letter-spacing: 4px;
  text-shadow: 2px 4px rgba(250, 250, 250, 1);
  margin: 20px 0;
}

.game-screen {
  width: 300px;
  height: 500px;
  position: relative;
}

canvas {
  background-color: black;
  display: block;
  border-radius: 10px;
  width: 300px;
  height: 500px;
}

.game-description {
  color: #f0f0f0;
  line-height: 2em;
  text-align: center;
  font-family: "Carter One", cursive;
}
